<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
  <meta name="description" content="Web to find your favorite restaurant">
  <meta name="keywords" content="Restaurant, Menu, Review">
  <meta name="author" content="John Doe">

  <link rel="icon" href="/favicon.ico" />
  <link rel="manifest" href="site.webmanifest" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Makan Yuk Apps</title>
</head>

<body>

  <a href="#content" class="skip-link" id="skip-link">Langsung ke Konten?</a>

  <header tabindex="0" class="header">
    <div class="header-inner">
      <h1 class="header-logo">
        Makan Yuk
      </h1>
    </div>
    <button id="menu" class="header-menu">☰</button>
  </header>
  
  <nav id="drawer" class="navbar">
    <ul class="list-nav">
      <li class="item-nav"><a href="">Home</a></li>
      <li class="item-nav"><a href="#/favorite">Favorite</a></li>
      <li class="item-nav"><a href="https://www.instagram.com/muhammadfaqih57/">About</a></li>
    </ul>
  </nav>

  <div tabindex="0" class="hero">
    <div class="hero-inner">
      <h1 class="hero-title">Pengen Makan Lezat Tanpa Bingung Pilih Tempat</h1>
      <p class="hero-line">Mari temukan restauran yang sesuai selera disekitarmu tanpa perlu keluar rumah</p>
    </div>
  </div>

  <main tabindex="0" id="content"></main>

  <footer tabindex="0">
    <p>Copyright © 2022 - Makan Yuk Apps</p>
  </footer>

</body>
</html>
